.git
.github
.idea
.vscode

**/node_modules
**/target
**/dist
**/build
**/.angular

logs
**/logs
*.log
**/*.log

Dockerfile*
docker-compose*.yml
.dockerignore

!services/episode-service/pom.xml
!services/episode-service/src/**
