# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Java
target/
*.log

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
infrastructure/docker/keycloak/realm/medical-platform-realm.json
infrastructure/k8s/base/secrets
frontend/frontend.iml
.claude/