.git
.github
.idea
.vscode

**/node_modules
**/target
**/dist
**/build
**/.angular

logs
**/logs
*.log
**/*.log

Dockerfile*
docker-compose*.yml
.dockerignore

!frontend/frontLitho/package.json
!frontend/frontLitho/package-lock.json
!frontend/frontLitho/angular.json
!frontend/frontLitho/tsconfig*.json
!frontend/frontLitho/src/**
!frontend/frontLitho/public/**
